<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuan.oa.android.library.ui.login">

    <!--自定义权限-->
    <uses-permission android:name="com.jiuan.oa.android.library.protocol.login.permission.BROADCAST" />
    <permission android:protectionLevel="normal" android:name="com.jiuan.oa.android.library.protocol.login.permission.BROADCAST" />

    <application>
        <activity
            android:name="com.jiuan.oa.android.library.ui.login.LoginActivity"
            android:theme="@style/Theme.Login">
            <intent-filter>

                <!-- 命名方式:包名+类名+意图 -->
                <action android:name="com.jiuan.oa.android.library.ui.login.LoginActivity.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>